:root
{
    /* ----- Color -----*/
    --first-color: #2A4E74;
    --second-color: #F9FEFF;
    --third-color: #0A0A0A;
    --fourth-color: grey;
}




.section
{
    position: absolute;
    right: 38%;
    top: 10%;
    padding: 15px;
    width: 25%;
    height: 55%;
    background-color: var(--second-color);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.form_container
{
    width: 100%;
    height: 100%;
}


.form_head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    
}

h2
{
    width: 100%;
    color: var(--first-color);
}

.close
{
    position: absolute;
    top: 2.5%;
    right: 3.5%;
    color: var(--first-color);
    cursor: pointer;
}

.input
{
    margin-bottom: 2.5rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgb(123, 123, 123);
}

input
{
    width: 100%;
    height: 2.5rem;
    padding: 3px;
    outline: none;
    border: none;
    background: none;
}

.submit
{
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    background-color: var(--first-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--second-color);
    letter-spacing: 2px;
    text-transform: uppercase;
}

p
{
    position: absolute;
    color: rgb(172, 93, 93);
    width: 100%;
}

.user
{
    top: 36.5%;
}

.vehicle
{
    top: 56%;
}

.number
{
    top: 76%;
}

span
{
    position: absolute;
    top: 76%;
    color: rgb(172, 93, 93);
}

.valid
{
    color: green;
}